In [279]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm

In [167]:
ios = np.random.normal(loc = 0.329605, scale = 0.5, size = 1000)
RAM = np.random.normal(loc = -0.244887, scale = 0.5, size = 1000)
out_camera = np.random.normal(loc = -0.19905, scale = 0.5, size = 1000)
width = np.random.normal(loc = -0.19765, scale = 0.5, size = 1000)

market = pd.DataFrame([ios, RAM, out_camera, width])

In [168]:
market.T

            0         1         2         3
0    1.169780  0.187441 -0.042552 -0.448884
1    0.205544 -0.656717 -0.281694 -1.133280
2    0.710247 -0.276070 -0.436862 -0.648608
3    0.546705  0.327049 -0.290450  0.618854
4    0.350955 -0.568338 -0.485983 -0.670214
5   -0.271161  0.599755  0.070818 -0.077640
6   -0.240570  0.354459 -0.249547  0.142577
7   -0.023113 -0.373701 -0.610073 -0.898150
8    0.009831 -0.800754 -0.050287 -0.410600
9    0.695319 -0.529671 -0.629367 -0.834563
10  -0.022940 -0.000624  0.610229  0.288153
11   0.318747 -0.826733  0.059933 -0.527182
12   0.530541  0.214311 -0.397953  0.154802
13   0.058271  1.029423 -0.562425  0.132328
14   1.249639 -0.462001 -1.030283  0.978133
15   0.240686  0.051477 -0.291541 -1.092349
16   0.646800 -0.287985 -0.943836 -0.011682
17  -0.289139 -0.635472 -0.514638 -0.771439
18   0.171555  0.147218  0.458794 -0.954604
19   0.362238 -0.167519  0.142455  0.896500
20   0.635702 -0.010438 -0.163668 -0.517443
21  -0.491865 -0.043506 -0.538918 -0.020705
22   0.361571 -0.008972 -0.147625 -0.354010
23   0.421685 -0.816043  0.550023 -0.334947
24   0.805358 -0.181853 -0.389718  0.070779
25   0.426356  0.211453 -0.614405 -0.103113
26   0.816471 -0.160281  0.302102 -0.392409
27   1.368565  0.237553 -0.337914  0.081131
28   0.379237  0.345068  0.071381 -0.476761
29   0.912104 -0.958962 -0.208504  0.681226
..        ...       ...       ...       ...
970  0.962244  0.057388 -0.781234 -0.670518
971 -0.208750 -0.256611  0.147837 -0.000347
972  0.109057 -0.487449  0.026723  0.015998
973  0.095277 -0.437875  0.202764  0.443395
974 -0.435492 -0.376380 -0.968197 -0.033571
975  0.258184 -0.443051 -0.307315  0.566389
976  0.240776 -0.618574 -0.488603 -0.225562
977  0.821699 -0.133002 -0.236889  1.097288
978  0.172938  0.060078  0.030907 -1.206601
979  0.837713  0.205400 -0.452206  0.337290
980  0.853192 -0.010088  0.525322  0.780504
981  1.049421 -0.912135  0.631520 -0.026075
982  0.974928  0.173340 -0.210925  0.505320
983 -0.652908 -0.069681 -0.665460 -0.924646
984  0.258695 -0.231908 -0.251156  0.202318
985  0.840688 -0.792173  0.165733 -1.334823
986  1.285250  0.707761 -0.257800  0.095341
987  0.503668  0.784635  0.106435 -0.207671
988 -0.397064  0.294753 -0.289675  0.286006
989  0.640317 -1.617182 -0.867431 -0.330191
990  0.234338 -0.254267  0.450062 -0.796920
991 -0.349292 -0.494803  0.574511 -0.462295
992  0.733026 -0.262777 -0.278282 -0.675890
993 -0.104785 -0.454617  0.004587 -0.252499
994  0.685482 -0.839632 -0.313209  0.156947
995  0.691545 -0.171579  0.565996  0.057745
996  0.233006  0.949806  0.033302  0.049625
997  0.811208 -0.719185 -0.772851 -0.116181
998 -0.183696  0.511363 -0.846323 -0.469063
999  0.777959 -0.702592 -0.166426  0.762564

[1000 rows x 4 columns]

In [170]:
market.T.to_csv('market.csv')

In [171]:
HEADER_ENGLISH = ('clock', 'core', 'RAM', 'ROM', 'Weight', 'screen', 'height', 'width', 'depth', 'wireless_charge', 'one_seg','ios', 'Android', 'value', 'out_camera', 'in_camera', 'battery', 'share')
product_data = pd.read_csv('data2.csv', encoding='shift-jis'
                , names = HEADER_ENGLISH
                , index_col = 0
                , skiprows = 1
                )
product_data.head

<bound method NDFrame.head of                 clock  core  RAM  ROM  Weight  screen  height  width  depth  \
iPhone XR        2.49     6    3   64     194     6.1    1792    828    8.3
Xperia XZ3       2.80     8    4   64     193     6.0    2880   1440    9.9
AQUOS R2         2.60     8    4   64     181     6.0    3040   1440    9.0
Galaxy Note9     2.80     8    6  128     201     6.4    2960   1440    8.8
arrows NX        2.20     8    4   32     154     5.2    1080   1920    8.1
HUAWEI P20 Pro   2.40     8    6  128     180     6.1    2240   1080    7.9

                wireless_charge  one_seg  ios  Android   value  out_camera  \
iPhone XR                     1        0    1        0   93312        1200
Xperia XZ3                    1        1    0        1   93312        1920
AQUOS R2                      0        1    0        1   90720        2260
Galaxy Note9                  1        1    0        1  121176        1220
arrows NX                     0        1    0        1   88128        2300
HUAWEI P20 Pro                0        0    0        1   98496        4000

                in_camera  battery  share
iPhone XR             700     2942   1626
Xperia XZ3           1320     3200    407
AQUOS R2             1630     3130    407
Galaxy Note9          800     4000    199
arrows NX             500     2580    179
HUAWEI P20 Pro       2400     3900     99  >

In [172]:
product_data = product_data.loc[:,['ios', 'RAM', 'out_camera', 'width']]

In [174]:
product_data = product_data.apply(lambda x: (x-np.mean(x))/(np.max(x) - np.min(x)))
product_data

                     ios       RAM  out_camera     width
iPhone XR       0.833333 -0.500000   -0.339286 -0.485348
Xperia XZ3     -0.166667 -0.166667   -0.082143  0.075092
AQUOS R2       -0.166667 -0.166667    0.039286  0.075092
Galaxy Note9   -0.166667  0.500000   -0.332143  0.075092
arrows NX      -0.166667 -0.166667    0.053571  0.514652
HUAWEI P20 Pro -0.166667  0.500000    0.660714 -0.254579

In [266]:
def ad_effect(money):
    return 0.003**np.exp(-0.04*money)

In [270]:
marketing = pd.DataFrame([[50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          ]
                         , columns = ['ios', 'RAM', 'out_camera', 'width']
                         , index= ['Apple', 'Sony', 'SHARP', 'SAMSUNG', 'Fujitsu', 'HUAWEI']
                        )

In [271]:
marketing

         ios  RAM  out_camera  width
Apple     50   50          50     50
Sony      50   50          50     50
SHARP     50   50          50     50
SAMSUNG   50   50          50     50
Fujitsu   50   50          50     50
HUAWEI    50   50          50     50

In [272]:
effect_of_marketing = []
for i, name in enumerate(marketing.index):
    for j, column in enumerate(marketing.columns):
        effect_of_marketing.append(np.random.normal(loc = ad_effect(marketing.iloc[i, j])
                                       , scale = 0.1
                                       , size = 1000
                                       )
                  )
effect_of_marketing = np.array(effect_of_marketing)

In [274]:
pd.DataFrame(effect_of_marketing).T.to_csv("effect.csv")

In [258]:
product_data.loc['AQUOS R2',:]

ios          -0.166667
RAM          -0.166667
out_camera    0.039286
width         0.075092
Name: AQUOS R2, dtype: float64

In [275]:
results = []
sets = []
for a in range(201):
    for b in range(201-a):
        for c in range(201-a-b):
            d = 200 - (a+b+c)
            result = product_data.loc['AQUOS R2','ios']*a*0.329605+ product_data.loc['AQUOS R2','RAM']*b*(-0.244887)+ product_data.loc['AQUOS R2','out_camera']*c*(-0.19905)+ product_data.loc['AQUOS R2','width']*d*(-0.19765)
            results.append(result)
            sets.append([a, b, c, d])

In [282]:
m_result = max(results)

In [280]:
len(results)

1373701

In [283]:
for i in tqdm(range(len(results))):
    if results[i] == m_result:
        print(i)

HBox(children=(IntProgress(value=0, max=1373701), HTML(value='')))

20300

In [284]:
sets[20300]

[0, 200, 0, 0]

In [286]:
marketing = pd.DataFrame([[50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          , [0, 200, 0, 0]
                          , [50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          , [50, 50, 50, 50]
                          ]
                         , columns = ['ios', 'RAM', 'out_camera', 'width']
                         , index= ['Apple', 'Sony', 'SHARP', 'SAMSUNG', 'Fujitsu', 'HUAWEI']
                        )
effect_of_marketing = []
for i, name in enumerate(marketing.index):
    for j, column in enumerate(marketing.columns):
        effect_of_marketing.append(np.random.normal(loc = ad_effect(marketing.iloc[i, j])
                                       , scale = 0.1
                                       , size = 1000
                                       )
                      
                  )
effect_of_marketing = np.array(effect_of_marketing)
pd.DataFrame(effect_of_marketing).T.to_csv("effect_change.csv")